/* Fonts */
.rum-raisin {
  font-family: 'Rum Raisin', sans-serif;
}

.text-orange {
  color: #ff4900;
}

.text-light-blue {
  color: #0969a3;
}

.text-dark-blue {
  color: #03436a;
}

/* Utils */
.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}

.leftalign-text {
  text-align: left;
}

.rightalign-text {
  text-align: right;
}

.container, .container-fluid {
  z-index: 20;
}

/* Footer */

footer {
  position: absolute;
  bottom: 3px;
  z-index: 20;
  text-align: center;
  font-size: small;
}

/* Botones */

.btn-convenceme {
  width: ;
}

.home-main .btn {
  margin: 10px;
}