/* Fonts */
.rum-raisin {
  font-family: 'Rum Raisin', sans-serif;
}

/* Utils */
.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}

.leftalign-text {
  text-align: left;
}

.rightalign-text {
  text-align: right;
}

.container, .container-fluid {
  z-index: 20;
}

/* Footer */

footer {
  position: absolute;
  bottom: 3px;
  z-index: 20;
  text-align: center;
  font-size: small;
}